html, body {
  margin:0;
  padding:0;
}
.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  .demolink {
    margin: 0;
    a {
      text-decoration: none;
      color: green;
    }
  }
}