<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>qvk: A Web integrated development environment.</title>
  {# <link async href="https://use.fonts.360.cn/css?family=fz_cuyansong&apiKey=a68ad05b55aeaa7d" rel="stylesheet"> #}
</head>
<body>
<div class="welcome">
  <img width="160" src="https://p5.ssl.qhimg.com/t010e2c6a39810e3b7c.png">
  <h2 style="font-family: fz_cuyansong, serif;">欢迎使用qvk创建开发环境</h2>
</div>
</body>
</html>